@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Add this to your CSS */
.rich-text-content ul {
  list-style-type: disc;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}

.rich-text-content ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}

.rich-text-content li {
  margin-bottom: 0.25em;
}

.rich-text-content p {
  margin-bottom: 0.5em;
}